// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-image: url(http://lookw.ru/1/705/1402267367-0181103-www.nevseoboi.com.ua.jpg);
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}

imga {
	  filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    margin-bottom:50px;
	    width: 80%;
	}

	imga:hover {
	  filter: none; /* IE6-9 */
	  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	 
	}


img {
	  filter: none; /* IE6-9 */
	  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    margin-bottom:20px;
	}

#welcome {
		position: absolute;
		width: 100%;
		height: 100%;
		
    	
    	
	}

#post {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		
		text-color: rgb (255.255.255.0)

	}


t4 {
	font-size: 40px;
	color: white;
}

t2 {
	font-size: 20px;
	color: white;
}

games {
	

	position: absolute;
	top: 200px;
	left: 0px;

}


tan {   font-family: 'Tangerine';
        font-size: 58px;  text-shadow: 4px 4px 4px #aaa; color: white; }
.ultra {   font-family: 'Ultra';
        font-size: 48px;  text-shadow: 2px 2px 4px #aaa; }
.ribeye {   font-family: 'Ribeye';
        font-size: 48px;  text-shadow: 2px 2px 4px #aaa; }
.lobster {   font-family: 'Lobster';
        font-size: 52px;  text-shadow: -2px -2px 5px #aaa; }
.helvet {   font-family: 'Helvetica';
        font-size: 48px;  text-shadow: -2px -2px 5px #aaa; }

tanb {   font-family: 'Tangerine';
        font-size: 58px;  text-shadow: 4px 4px 4px #aaa; color: black; }

.col-md-3 {
text-align:center;margin-bottom:5px
}
.col-md-3 i {
width:100%;float:left;font-size:44px
}
.text-shadow-code,
.option-text-shadow {
position:relative; padding:45px 15px 15px; margin:0 -15px 15px; background-color:#fafafa; box-shadow:inset 0 3px 6px rgba(0,0,0,.05); border-color:#e5e5e5 #eee #eee; border-style:solid; border-width:1px 0;
}
 .text-shadow-code:after{
  content:"Готовый код тени"; position:absolute; top:15px; left:15px; font-size:12px; font-weight:700; color:#bbb; text-transform:uppercase; letter-spacing:1px;
 }
 .option-text-shadow:after{
  content:"Настройка тени"; position:absolute; top:15px; left:15px; font-size:12px; font-weight:700; color:#bbb; text-transform:uppercase; letter-spacing:1px;
  }
  .text-shadow-code+pre, .option-text-shadow+fieldset {
   margin:-15px -15px 15px; border-radius:0; border-width:0 0 1px;
   }
   @media (min-width:768px){
   .text-shadow-code, .option-text-shadow{ margin-left:0; margin-right:0; background-color:#fff; border-width:1px; border-color:#ddd; border-radius:4px 4px 0 0; box-shadow:none;
   }}

@font-face {
 font-family: 'Roboto-Italic';
 src: local('Roboto Italic'), local('Roboto-Italic'), url('http://bootstraptema.ru/snippets/font/2016/roboto/robotoitalic.woff2') format('woff2'), url('http://bootstraptema.ru/snippets/font/2016/roboto/robotoitalic.woff') format('woff'), url('http://bootstraptema.ru/snippets/font/2016/roboto/robotoitalic.ttf') format('truetype');
 font-weight: 400;
 font-style: italic;
}

tw {
	font-family: 'Roboto-Italic';
	color: white;
	}


 //chat


body {
    font-size: 13px;
}
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

.chat_list .list-group-item {
	position: relative;
	
	padding: 5px 4px;
    min-height: 50px;

}
@media (max-width: 768px) {
    .chat_list .list-group-item {
        min-height: inherit;
    }
}
.chat_list .list-group-item-text {
    word-wrap: break-word;
    display: flex;
    overflow: auto;
}
.chat_list .pull-left {
    width: 55px;
    text-align: center;
}


//post

.thumb-contenido{
    
    margin-bottom:1%;
    margin-left: 0px;
    padding-left: 0px;
}


imgs {	 
	    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	    margin-bottom:20px;
	}

	
	//image

